body {
    width: 100%;
    height: 100%;
}

#bg {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
}

#gg {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    max-width: 100%;
    height: 100%;

}

.heightctrl {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    overflow: hidden;
    height: 870px;
}



